name: Lint

on:
  push:
    branches: [main]
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: 3.x

      - uses: yokawasa/action-setup-kube-tools@v0.13.1
        with:
          # helm is needed to generate chart snapshots
          setup-tools: |
            helm
          helm: v3.19.2 # renovate: datasource=github-releases depName=helm/helm

      - uses: actions/cache@v4
        with:
          path: ~/.cache/golangci-lint
          key: pre-commit-golangci-lint|${{ env.pythonLocation }}|${{ hashFiles('.pre-commit-config.yaml') }}|${{ hashFiles('**/*.go') }}
          restore-keys: |
            pre-commit-golangci-lint|${{ env.pythonLocation }}|${{ hashFiles('.pre-commit-config.yaml') }}|
            pre-commit-golangci-lint|${{ env.pythonLocation }}|
            pre-commit-golangci-lint|

      - uses: pre-commit/action@v3.0.1
