name: Lint

on:
  push:
    branches: [main]
  pull_request:

env:
  GOTOOLCHAIN: local

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.23"

      - uses: golangci/golangci-lint-action@v6
        with:
          version: v1.62.2 # renovate: datasource=github-releases depName=golangci/golangci-lint

          # In general linting is quite fast with warm caches, but a fresh run might
          # take some time.
          args: --timeout 5m
