name: Lint

on:
  push:
    branches: [main]
  pull_request:

env:
  GOTOOLCHAIN: local

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - uses: yokawasa/action-setup-kube-tools@v0.11.2
        with:
          # helm is needed to generate chart snapshots
          setup-tools: |
            helm
          helm: v3.17.1 # renovate: datasource=github-releases depName=helm/helm

      - uses: pre-commit/action@v3.0.1

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.23"

      - uses: golangci/golangci-lint-action@v6
        with:
          version: v1.64.4 # renovate: datasource=github-releases depName=golangci/golangci-lint

          # In general linting is quite fast with warm caches, but a fresh run might
          # take some time.
          args: --timeout 5m
