name: Push latest version
on:
  push:
    branches:
      - main
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ${{ github.repository_owner }}/hcloud-csi-driver:latest
          cache-from: type=registry,ref=${{ github.repository_owner }}/hcloud-csi-driver:buildcache
          cache-to: type=registry,ref=${{ github.repository_owner }}/hcloud-csi-driver:buildcache,mode=max
      - name: "make docker plugin"
        run: |
          cd deploy/docker-swarm/pkg
          make push PLUGIN_NAME=hetznercloud/csi-driver PLUGIN_TAG=latest-swarm
