name: Run tests
on: [ pull_request ]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: '1.19'
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/cache@v3
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Verify manifests are up to date
        run: |
          kustomize build deploy/kubernetes > /tmp/hcloud-csi.yml
          diff deploy/kubernetes/hcloud-csi.yml /tmp/hcloud-csi.yml
      - name: Run tests
        run: |
          go vet ./...
          go test $(go list ./... | grep -v e2e) -v
