name: Run tests
on: [ pull_request ]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: "1.21"
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/cache@v3
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Run tests
        run: |
          go vet ./...
          go test $(go list ./... | grep -v e2e) -v

  deploy-manifests:
    name: Check deployment manifests
    runs-on: ubuntu-latest
    steps:
      - uses: yokawasa/action-setup-kube-tools@v0.9.3
        with:
          setup-tools: |
            helm
          helm: v3.11.2

      - uses: actions/checkout@v4
      - name: Generate manifests from helm chart
        run: hack/update-deployment-yamls.sh

      - name: Check for diff
        run: git diff --exit-code -- deploy/

      - name: Show warning
        if: ${{ failure() }}
        run: echo "::error title=Deployment Manifests outdated::Please run hack/update-deployment-yamls.sh and commit the changes to deploy/"
