name: Run e2e tests
on: [push]
concurrency: ci-${{ github.ref }}
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        k8s: [ k8s-1.19.10, k8s-1.20.6, k8s-1.21.0, k8s-1.22.0 ]
    name: k8s ${{ matrix.k8s }}
    steps:
    - uses: actions/setup-go@v2
      with:
        go-version: '1.17'
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: HCLOUD_TOKEN
      env:
        TTS_TOKEN: ${{ secrets.TTS_TOKEN }}
        HCLOUD_TOKEN: ${{ secrets.HCLOUD_TOKEN }}
      run: |
        set -ueo pipefail
        if [[ "${TTS_TOKEN:-}" != "" ]]; then
          token="$(./script/get-token.sh)"
          echo "::add-mask::$token"
          echo "HCLOUD_TOKEN=$token" >> "$GITHUB_ENV"
        elif [[ "${HCLOUD_TOKEN:-}" != "" ]]; then
          echo "HCLOUD_TOKEN=$HCLOUD_TOKEN" >> "$GITHUB_ENV"
        else
          echo "::error ::Couldn't determine HCLOUD_TOKEN. Check that repository secrets are setup correctly."
          exit 1
        fi
    - uses: actions/cache@v2
      with:
        path: |
          ~/go/pkg/mod
          ~/.cache/go-build
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - name: Run tests
      env:
        K8S_VERSION: ${{ matrix.k8s }}
      run: |
        go test $(go list ./... | grep e2etests) -v -timeout 60m
        ./script/delete-token.sh $HCLOUD_TOKEN
